*{
  margin: 0;
  padding: 0;
}
.content{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 130px;
  text-align: center; 
   /* box-sizing: border-box; */
  border: 1px solid #000;
  overflow: hidden;

}
.go{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100px;
  z-index: 99;
  background: red;
}
.go a{
  font-size: 40px;
  /* z-index: 99; */
}
.main{
  position: relative;
  height: 400px;
  width: 300px;
  margin-top: -70px;
  /* border: 1px solid #000; */

}
.row{
  width: 300px;
  height: 100px;
  /* border: 1px solid #000; */
}
.row div{
  width: 75px;
  height: 100px;
  float: left;
  border: 1px solid #000;
  box-sizing: border-box;
}
/* .i{
  cursor: pointer;
} */